.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;
}

.dialogsItems {
    padding: 10px
}

.dialogsItems .active {
    color:blueviolet;
}

.messages {
    padding: 10px
}

.img {
    height: 20px;
    width: 20px;
  }
